:root {
    --text-buttons-color: #2A56C6;
    --icons-color: #1C3AA9;
}

.calls__actions__item:hover {
    background: #0000000f;
}


.calls__actions__item {
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 33%;
}

.calls__actions__item__icon {
    margin-right: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calls__actions {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 23%;
    display: flex;
    flex-direction: column;
}

.calls__navbar__item {
    display: flex;
    flex-direction: column;
}

.calls__navbar__item__text-active {
    color: #0A84FF;
    font-family: 'SF Pro Regular';
    font-size: 12px;
    margin-top: 5px;
}

.calls__navbar__item__icon-active {
    filter: invert(37%) sepia(98%) saturate(4277%) hue-rotate(196deg) brightness(107%) contrast(109%);
}

.calls__navbar__item__text {
    font-family: 'SF Pro Regular';
    font-size: 12px;
    color: #757575;
    margin-top: 5px;
}

.calls__navbar {
    margin-top: auto;
    background: rgba(22, 22, 22, 0.75);
    box-shadow: 0px -0.5px 0px rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(81.5485px);
    width: 100%;
    justify-content: space-around;
    display: flex;
    padding-bottom: 10%;
}

.calls__actions__item__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
}