.hmenu__gunshop__stats {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 22%;
    background: rgba(0, 0, 0, 0.5);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.hmenu__gunshop__stats__name {
    font-family: 'Gotham Pro Medium';
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.05rem;
}

.hmenu__gunshop__stats__pname {
    font-family: 'Gotham Pro Regular';
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
}

.hmenu__gunshop__stats__params {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-bottom: auto;
}

.hmenu__gunshop__stats__params__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.hmenu__gunshop__stats__params__name {
    z-index: 10;
    font-family: 'RobotoBold';
    font-size: 1.2rem;
    padding-left: 5%;
}

.hmenu__gunshop__stats__params__percent {
    z-index: 10;
    font-family: 'RobotoBold';
    font-size: 1.2rem;
}

.hmenu__gunshop__stats__flatbtn {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Gotham Pro Regular';
    font-size: 1rem;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    letter-spacing: 0.05rem;
    margin-bottom: 2%;
    cursor: pointer;
}

.hmenu__gunshop__stats__price {
    display: flex;
    flex-direction: column;
}

.hmenu__gunshop__stats__price__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5%;
}

.hmenu__gunshop__hide {
    display: none !important;
}

.hmenu__gunshop__stats__price__gtext {
    font-family: 'Gotham Pro Medium';
    font-size: 1.2rem;
}

.hmenu__gunshop__stats__price__gprice {
    font-family: 'Gotham Pro Medium';
    font-size: 2rem;
}

.hmenu__gunshop__stats__about {
    margin-top: 5%;
    font-family: 'Gotham Pro Regular';
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}