.editor-box {
    width:100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

/* <!-- Слайдер камеры --> */
.сamera-editor-main {
    width: 230px;
    height: 185px;
    background: rgb(28, 28, 28);
    display: none; /*Flex*/
    flex-direction: column;
    margin-left: 11px;
    margin-bottom: 13px;
    margin-top: auto;
    font-family: "Roboto";
    font-size: 10px;
    color: rgb(255, 255, 255);
}

.range-editor-block {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
    margin-bottom: 26px;
}

.range-editor-block:first-child {
    margin-top: 21px;
}

.range-text {
    font-family: 'Gotham Pro Regular';
}

.range-editor-block .range-text {
    margin-bottom: 10px;
    font-size: 13px;
}

.range-editor-block .range-slider-editor {
    width: 197px;
    height: 2px;
    position: relative;
}

.range-slider-editor .range {
    height: 2px;
    background: rgb(72, 185, 242);
    position: relative;
}

.range-slider-editor .range-toddler {
    width: 3px;
    height: 13px;
    background: rgb(72, 185, 242);
    position: absolute;
    top: -5.5px;
    cursor: pointer;
    z-index: 9;
}

.range-slider-editor .range-label {
    display: none;
    justify-content: center;
    margin-top: 10px;
}

/* <!-- Меню 1 -->*/
.menu-editor-default {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    width: 455px;
    margin-right: 2%;
    padding: 2.8rem;
}

.editor__hint {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 3rem;
}

.editor__hint__title {
    font-family: 'Gotham Pro Medium';
    font-size: 1.2rem;
    text-align: end;
}

.editor__hint__subtitle {
    font-family: 'Gotham Pro Regular';
    font-size: 0.9rem;
    text-align: end;
}

.menu-editor-default .title-block {
    width: inherit;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gotham Pro Regular";
    font-size: 1rem;
}

.menu-editor-default .title-in-block {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gotham Pro Medium";
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.menu-editor-default .change-sex-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.change-sex-block .change-sex-style {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gotham Pro Regular";
    font-size: 1rem;
    color: #fff;
    background: rgba(196, 196, 196, 0.08);
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 7px;
}

.change-button-box__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.change-sex-style:first-of-type {
    margin-right: 2rem;
}

.change-sex-block input:checked + label.change-sex-style {
    background: rgba(196, 196, 196, 0.2);
    color: #fff;
}

.change-button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.change-button-box .box-change {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.box-change {
    display: flex;
    align-items: center;
}

.box-change__row {
    justify-content: space-between;
}

.box-change__row .box-in-change {
    width: 50% !important;
}

/* .плашка1 {
    background-color: rgb(19, 19, 19);
    position: absolute;
    left: 1512px;
    top: 194px;
    width: 363px;
    height: 31px;
    z-index: 314;
  } */

.change-button-box .box-change:first-child {
    margin-bottom: 15px;
}

.box-change .box-title {
    margin-bottom: 12px;
    font-family: "Gotham Pro Regular";
    font-size: 1.1rem;
    color: #fff;
}

.box-change .box-editor-title {
    text-align: center;
    width: 40%;
    font-family: "Gotham Pro Regular";
    color: #fff;
    font-size: 1rem;
}

.box-editor-title__namechar {
    text-align: center;
    font-family: "Gotham Pro Regular";
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.2rem;
}

.box-editor-title__namechar-desc {
    margin-top: 10px;
    font-family: "Gotham Pro Light";
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    text-align: center;
    max-width: 80%;
}

.box-in-change {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gotham Pro Regular";
    font-size: 1rem;
    color: #fff;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    padding: 1rem;
    width: 100%;
    border-radius: 7px;
}

.color-white {
    color: #fff !important;
}

.margin-for-editor {
    margin-bottom: 24px;
}

.otstup-box:not(:last-child) {
    margin-bottom: 13px;
}

.editor-box-style {
    width: 363px !important;
    height: 31px !important;
}

.box-in-change .arrow-change {
    background: url(../img/arrow-left-change.png) no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.box-in-change .left-arrow {
    margin-right: auto;
    margin-left: 4px;
}

.box-in-change .right-arrow {
    transform: rotate(180deg);
    margin-left: auto;
    margin-right: 4px;
}

.characteristic-editor {
    display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 27px;
}

.characteristic-editor .box-character {
    display: flex;
    align-items: center;
    font-family: "Gotham Pro Regular";
    font-size: 1rem;
    color: #fff;
    justify-content: space-between;
    width: 100%;
}

.box-character span.title-character {
    text-align: left;
    width: 129px;
}

.characteristic-editor .box-character:not(:first-child) {
    margin-top: 21px;
}

.box-character .range-character {
    width: 161px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
}

.range-character .background-character-range {
    height: inherit;
    background: #fff;
}

.menu-editor-default .last-button-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.last-button-menu .box-last-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gotham Pro Regular";
    font-size: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.last-button-menu .box-last-btn:hover {
    background: #fff;
    color: #000;
}

.last-button-menu .box-last-btn:first-child {
    margin-right: 5px;
}


.menu-editor-default .editor-circl-change {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: 25px;
}

.editor-circl-change .circle-change {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: rgb(59, 59, 59);
}

.editor-circl-change .circle-change:not(:last-child) {
    margin-right: 4px;
}

.editor-circl-change .circle-blue {
    background-color: rgb(72, 185, 242);
}

/* <!-- Редактор --> */
.editor-main {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    width: 455px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 159px;
    margin-right: 8%;
    padding: 2.8rem;
    width: 455px;
    display: flex;
    flex-direction: column;
}

.editor-main .slider-editor-main {
    margin-top: 16px;
    margin-bottom: 16px;
    width: inherit;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.editor-main .title-block {
    width: inherit;
    height: 59px;
    background: rgb(72, 185, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "HACKED";
    font-size: 38px;
    text-transform: uppercase;
}

.slider-editor-main .slider-change-radio {
    width: 132px;
    height: 8px;
    background: rgb(59, 59, 59);
    cursor: pointer;
}

.margin-right-perf {
    margin-right: 4px;
}

input.range-slider-ch:checked + label .slider-change-radio {
    background: rgb(72, 185, 242);
}

.header-title-editor {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gotham Pro Regular";
    color: #fff;
    margin-top: -1.5rem;
    font-size: 1rem;
}

.block-editor-range__element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 3rem;
}

.block-editor-range .range-editor-block-big {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
    margin-bottom: 39px;
    font-family: "Roboto";
    font-size: 10px;
    color: rgb(255, 255, 255);
}

.range-editor-block-big .range-text {
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    width: 40%;
}

.range-editor-block-big .range-slider-editor-big {
    width: 50%;
    height: 2px;
    /* background: rgb(60, 60, 60); */
    position: relative;
    margin-bottom: 37px;
}

.range-editor-block-big .range-slider-editor-big:last-child {
    margin-bottom: 0px;
}

.range-slider-editor-big .range-toddler {
    width: 3px;
    height: 13px;
    background: rgb(72, 185, 242);
    position: absolute;
    top: -5.5px;
    cursor: pointer;
    z-index: 9;
}

.range-slider-editor-big .range {
    height: 2px;
    background: rgb(72, 185, 242);
    position: relative;
}

.range-slider-editor-big .range-label {
    display: none;
    justify-content: center;
    margin-top: 10px;
}

.range-editor-block-big:first-child {
    margin-top: 24px;
}

.range-editor-block-big:first-child {
    margin-top: 24px;
}

.editor-main .editor-circl-change {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: auto;
    /* margin-top: 25px; */
}

.editor-main .last-button-menu {
    display: flex;
}

/*range-slider-left-menu*/
.range-slider-editor .input-range__slider, .range-slider-editor-big .input-range__slider {
    appearance: none;
    width: 14px;
    height: 14px;
    transform: rotate(90deg);
    background: #fff;
    cursor: pointer;
    display: block;
    margin-left: -0.6rem;
    margin-top: -8px;
    outline: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    /* transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; */
}

.range-slider-editor .input-range__slider:active, .range-slider-editor-big .input-range__slider:active {
    /* transform: scale(1.3);  */
}

.range-slider-editor .input-range__slider:focus, .range-slider-editor-big .input-range__slider:focus {
    /* box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);  */
}

.range-slider-editor .input-range--disabled .input-range__slider, .range-slider-editor-big .input-range--disabled .input-range__slider {
    width: 197px;
    height: 2px;
    background: rgb(60, 60, 60);
    box-shadow: none;
    transform: none;
}

.range-slider-editor .input-range__slider-container, .range-slider-editor-big .input-range__slider-container {
    /* transition: left 0.3s ease-out;  */
}

.range-slider-editor .input-range__label, .range-slider-editor-big .input-range__label {
    /* color: #aaaaaa;
    font-family: "Helvetica Neue", san-serif;
    font-size: 0.8rem;
    transform: translateZ(0);
    white-space: nowrap;  */ /*text*/
}

.range-slider-editor .input-range__label--min,
.range-slider-editor .input-range__label--max, .range-slider-editor-big .input-range__label--min,
.range-slider-editor-big .input-range__label--max {
    bottom: -1.4rem;
    position: absolute;
}

.range-slider-editor .input-range__label--min, .range-slider-editor-big .input-range__label--min {
    left: 0;
    display: none;
}

.range-slider-editor .input-range__label--max, .range-slider-editor-big .input-range__label--max {
    right: 0;
    display: none;
}

.range-slider-editor .input-range__label--value, .range-slider-editor-big .input-range__label--value {
    position: absolute;
    top: -1.8rem;
}

.range-slider-editor .input-range__label-container, .range-slider-editor-big .input-range__label-container {
    left: -50%;
    position: relative;
    display: none;
}

.range-slider-editor .input-range__label--max .input-range__label-container, .range-slider-editor-big .input-range__label--max .input-range__label-container {
    left: 50%;
}

.range-slider-editor .input-range__track, .range-slider-editor-big .input-range__track {
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    display: block;
    position: relative;
    /* transition: left 0.3s ease-out, width 0.3s ease-out;  */
}

.range-slider-editor .input-range--disabled .input-range__track, .range-slider-editor-big .input-range--disabled .input-range__track {
    background: rgb(60, 60, 60);
}

.range-slider-editor .input-range__track--background, .range-slider-editor-big .input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%;
}

.range-slider-editor .input-range__track--active, .range-slider-editor-big .input-range__track--active {
    background: #fff;
}

.range-slider-editor .input-range, .range-slider-editor-big .input-range {
    position: relative;
    width: 100%;
}

/* Инпуты для ввода инфо*/
.menu-editor-default .create-info-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-editor-default .create-info-input input.auth-input-style {
    width: 100%;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 7px;
    font-family: "Gotham Pro Regular";
    font-size: 1rem;
    margin-bottom: 1.2rem;
    padding: 1rem;
    color: #fff;
}

.menu-editor-default .create-info-input input:hover.auth-input-style {
    background: rgba(196, 196, 196, 0.08);
}


.menu-editor-default .create-info-input input:focus.auth-input-style {
    background: rgba(196, 196, 196, 0.2);
}

.menu-editor-default .create-info-input input.auth-input-style:first-child {
    margin-bottom: 1.2rem;
}

.menu-editor-default .create-info-input input::placeholder {
    font-size: 1rem;
    font-family: "Gotham Pro Regular";
    color: #fff;
    /* text-transform: uppercase; */
}

.def-style {
    display: flex;
    flex-direction: column;
}

.def-margin-auto {
    margin-top: auto !important;
}

input.auth-input-style:focus::-webkit-input-placeholder {
    color: transparent;
}

.info-role {
    padding: 0 15% 0 15%;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.choice-role-btn {
    margin-top: auto;
}

.create-btn:hover {
    background: #fff;
    color: #000;
}

.role-custom {
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 0 0 8% 0;
}

.info-role .title-info-role {
    margin-bottom: 10px;
    font-family: 'Gotham Pro Regular';
    font-size: 1rem;
    line-height: 20px;
}

.title-info-hint {
    font-family: 'Gotham Pro Regular';
    font-size: 1rem;
}

.player_role {
    width: inherit;
    height: 271px;
    margin-top: 22px;
    padding-top: 14%;
}
.text-role-recomed {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}